.title {
    font-size: 1.75rem;
    margin-top: 0;
}

.form-section {
    background-color: #333;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    box-shadow: 2px 2px 10px #333;
}

.form-section:nth-last-child(1) {
    margin-bottom: 0;
}

.open-close-btn {
    font-size: 1.75rem;
    padding: .25rem .5rem;
    margin-left: auto;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.form-section-header {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.form-section-header-closed {
    margin-bottom: 0;
}

.icon-style {
    width: 32px;
    display: inline-block";
}

.add-btn {
    font-size: 1.75rem;
    padding: .25rem .5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: transform .4s;
}

.add-btn:hover {
    transform: scale(1.25);
}

.form-item-separator {
    border-color:#333;
    margin:1rem 0
}

.float-right {
    display: block;
    margin-left: auto;
}