.input-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap:1rem;
    margin-bottom: 1rem;
}

.input-row:nth-last-child(1) {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .input-row {
        grid-template-rows: 1fr 1fr;
        grid-template-rows: "";
    }
}