.input-label {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-bottom: .5rem;
}

.input {
    padding:.75em .5em;
    margin-right: auto;
    display: block;
}